{
  "version": "2.30.0",
  "commit": "dcba34ee",
  "installed_at": "2026-09-16T20:30:50+01:00",
  "installedAt": "2026-09-16T20:30:50+01:00",
  "source": "setup",
  "repo_path": "{{ .chezmoi.homeDir }}/inir",
  "repoPath": "{{ .chezmoi.homeDir }}/inir",
  "install_mode": "repo-copy",
  "installMode": "repo-copy",
  "update_strategy": "repo-setup",
  "updateStrategy": "repo-setup",
  "package_manager": "",
  "packageManager": "",
  "package_name": "",
  "packageName": "",
  "package_update_hint": "",
  "packageUpdateHint": ""
}
