$darkmode: True;
$transparent: False;
$background: #0B0F0D;
$onBackground: #DDE8E1;
$surface: #0B0F0D;
$surfaceDim: #0B0F0D;
$surfaceBright: #242E2A;
$surfaceContainerLowest: #000000;
$surfaceContainerLow: #0E1512;
$surfaceContainer: #141B18;
$surfaceContainerHigh: #19211E;
$surfaceContainerHighest: #1E2824;
$onSurface: #DDE8E1;
$surfaceVariant: #1E2824;
$onSurfaceVariant: #A3AEA7;
$outline: #6D7872;
$outlineVariant: #404A45;
$inverseSurface: #F6FAF6;
$inverseOnSurface: #515653;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A0D1BD;
$primary: #A0D1BD;
$primaryDim: #92C3AF;
$onPrimary: #184839;
$primaryContainer: #2C5B4B;
$onPrimaryContainer: #BCEED9;
$inversePrimary: #396857;
$primaryFixed: #BBEDD8;
$primaryFixedDim: #ADDFCA;
$onPrimaryFixed: #174738;
$onPrimaryFixedVariant: #366454;
$secondary: #B2CCC0;
$secondaryDim: #A5BFB3;
$onSecondary: #2E453C;
$secondaryContainer: #294037;
$onSecondaryContainer: #ABC5B9;
$secondaryFixed: #CEE9DC;
$secondaryFixedDim: #C0DACE;
$onSecondaryFixed: #2D443B;
$onSecondaryFixedVariant: #496057;
$tertiary: #E5FAFF;
$tertiaryDim: #B4ECF8;
$onTertiary: #2C656F;
$tertiaryContainer: #B9F2FE;
$onTertiaryContainer: #225D67;
$tertiaryFixed: #B9F2FE;
$tertiaryFixedDim: #ACE3EF;
$onTertiaryFixed: #064A54;
$onTertiaryFixedVariant: #2E6771;
$error: #FA746F;
$errorDim: #C54D4A;
$onError: #490006;
$errorContainer: #871F21;
$onErrorContainer: #FF9993;
$primaryPaletteKeyColor: #51806F;
$secondaryPaletteKeyColor: #647C72;
$tertiaryPaletteKeyColor: #487F8A;
$neutralPaletteKeyColor: #737875;
$neutralVariantPaletteKeyColor: #6F7974;
$errorPaletteKeyColor: #C84F4C;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #111815;
$term1: #FFA088;
$term2: #00FE92;
$term3: #FFF17B;
$term4: #6DD0FF;
$term5: #D7B0FF;
$term6: #49F2DB;
$term7: #AEAAA1;
$term8: #6D7872;
$term9: #FFD1C8;
$term10: #C2FFD2;
$term11: #FFF39B;
$term12: #DAF0FF;
$term13: #F0DFFF;
$term14: #B4FFF2;
$term15: #DDE8E1;
